doctype html
html
  head
    title= title
    link(rel="icon", type="image/png", href="/images/glyphicons_001_leaf.png")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(data-main="javascripts/main", src="javascripts/lib/require.js")
    
  body
    .navbar.navbar-static-top
        a.navbar-brand(href="#{basepath}/")
          span.glyphicon.glyphicon-dashboard.icon-large ZBee
        .nav-collapse.collapse.navbar-responsive-collapse
          ul.nav.navbar-nav.pull-right
              li
                a(href="#{basepath}#panel")
                  | Panel
              li
                a(href="#{basepath}#apps") 
                  | Devices
              li
                a(href="#{basepath}#nodes") 
                  | Nodes
              li
                a(href="#{basepath}#admin") 
                  | Admin


    .container
      .content.row
        .col-10.col-offset-1
          block content
