.container.summary
  h3 #{deviceName}
  .row
    .col-4 Address:
    if locals.address64
      .col-8 #{address64} (#{address16}) #{endpoint}
    else 
      .col-8 (#{address16}) #{endpoint}
  .row
    .col-4 Profile
    .col-8= profileId
  .row
    .col-4 Device
    .col-2 #{deviceId} 
    .col-4 #{deviceName}
    .col-2 (version #{deviceVersion})

  h4 inputs
  .inputs
    each cluster in inputClusters
      .row.input
        .col-2
        .col-4.id= cluster.id
        .col-4.name= cluster.name
        .col-2
          button(enabled="false") bind...
  h4 outputs
  .outputs
    each cluster in outputClusters
      .row.output
        .col-2
        .col-4.id= cluster.id
        .col-4.name= cluster.name
        .col-2
          button(enabled="false") bind...
    
  button.identify identify